
/*******************************************************
                    footer 
*********************************************************/

.bg__footer{
    margin-top: 5%;
    background: $backgroundColor;
    color: #dfdfdf;
    border-top: 3px solid $ColorRojoMain;
}

.footer__pointer{cursor:pointer}