
/**************************************************************************************
                    variables
***************************************************************************************/
$transformScale115: scale(1.15);
$backgroundColorBody: rgb(236, 236, 236);
$backgroundColorTopHeader:#232222;
$backgroundColor:#1a1717;
$ColorRojoMain: #D10024;
$colorVerdeMain: #59a501;


/**************************************************************************************
                    Maps
***************************************************************************************/
$paletaColoresRedesSociales: (
    'facebook':#6894f1,
    'twitter' :#00acee,
    'youtube' :#c4302b,
    'instagram1':#d6249f,
    'instagram2':radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%),
);

$paletaColores: (
    'backgroundColorBody':rgb(236, 236, 236),
    'backgroundColorTopHeader':#232222,
    'backgroundColor':#1a1717,
    'ColorRojoMain':#D10024,
    'colorVerdeMain':#59a501,
);




